---
interface Props {
  hero: {
    eyebrow?: string;
    header?: string;
    description?: string;
    action?: {
      label: string;
      href: string;
    };
    videoTitle: string;
    videoSources: {
      src: string;
      type: 'video/mp4' | 'video/webm' | 'video/ogg';
    }[];
  };
  fallbackImg?: {
    src: string;
    alt: string;
  };
}
const { hero, fallbackImg } = Astro.props as Props;

const { eyebrow, header, description, action, videoTitle } = hero;
---

<div class="snap-center mt-[-76px] not-prose">
  <section class="h-dvh w-screen text-center overflow-hidden relative">
    {
      (eyebrow || header || action) && (
        <div class="z-30 relative h-full flex flex-col">
          {(eyebrow || header || description) && (
            <div class="text-white">
              {eyebrow && <p class="pt-40 text-base font-bold tracking-wide uppercase">{eyebrow}</p>}
              {header && (
                <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">
                  {header}
                </h1>
              )}
              {description && <p class="px-12 text-[1.25rem]">{description}</p>}
            </div>
          )}
          {action && (
            <div class="flex flex-col flex-grow justify-end pb-96">
              <div>
                <a
                  class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
                  href={action.href}
                >
                  {action.label}
                </a>
              </div>
            </div>
          )}
        </div>
      )
    }
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
      <video
        class="object-center object-cover h-full w-full"
        playsinline
        autoplay
        muted
        loop
        poster={fallbackImg?.src ?? ''}
        title={videoTitle}
        id="home-video"
      >
        {hero.videoSources.map(({ src, type }) => <source src={src} type={type} />)}
      </video>
    </div>
  </section>
</div>
